<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/navbar.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    </head>
    <body>


<!-- Navbar -->
<div id='cssmenu'>
<ul>
    <li ><a href='{{url('homepage')}}'><span>Home</span></a></li>
    <li><a href='{{url('player_home')}}'><span>Players</span></a></li>
    <li><a href='{{url('resource_home')}}'><span>Resources</span></a></li>
    <li><a href='{{url('equipment_home')}}'><span>Equipment</span></a></li>
    <li><a href='{{url('equipmentBorrowedByPlayer_home')}}'><span>Borrow Equipment</span></a></li>
    <li><a href='{{url('reservation_home')}}'><span>Reserve Equipment</span></a></li>
    <li><a href='{{url('sportHasResource_home')}}'><span>Allocate Resources</span></a></li>
    <li><a href='{{url('involve_home')}}'><span>Involve Player</span></a></li>
    <li><a href='{{url('equipment_allocate_home')}}'><span>Allocate Equipment</span></a></li>
   <!-- <li class='last'><a href='#'><span>Contact</span></a></li> -->

    {#Logout#}

    <li><a href='{{url('logout')}}'><span>Logout</span></a></li>
    <li><a href='{{url('signup')}}'><span>Sign Up</span></a></li>
</ul>
</div>




      <!-- Content -->
      <div class="panel panel-default">
        <div class="panel-heading">{{ block('title') }}<div class="pull-right">{% block links %}{% endblock %}</div></div>
        <div class="panel-body">

          <div class='error_message'> {{ form_error | default("") }} </div>
          {% block body %}{% endblock %}
          {% block javascripts %}{% endblock %}
        
        </div>
      </div>


      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    </body>
</html>
