{# app/Resources/views/default/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
All Players
{% endblock %}

{% block body %}
<ul>
    {% for user in players %}
        <li>{{ user.name|e }} - {{ user.year|e }}- {{ user.dateOfBirth|e }}- {{ user.bloodType|e }}- {{ user.address|e }}</li>
    {% endfor %}
</ul>

{% endblock %}