{# app/Resources/views/default/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
All Players
{% endblock %}

{% block links %}
    <div class="btn-group" >
       <a href="{{url('player_create')}}"> <button type="button" class="btn btn-xs btn-success">Create Player</button></a>
    </div>
{% endblock %}


{% block body %}
<table width="100%">
	<tr>
		<th>Name</th>
		<th>Year</th>
		<th>Date of Birth</th>
		<th>Bllod Type</th>
		<th>Address</th>
	</tr>

    {% for user in players %}
        <tr>
        <td>
        <a href="{{url('player_view',{'id':user.id})}}">{{ user.name|e }}</a>
        </td>

        <td>{{ user.year|e }}
        </td>

        <td>{{ user.dateOfBirth|e }}
        </td>

        <td>{{ user.bloodType|e }}
        </td>


       	<td>{{ user.address|e }}</td>
        </tr>
    {% endfor %}
</ul>

{% endblock %}