
{# app/Resources/views/default/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
Player Details
{% endblock %}


{% block body %}
    <ul>

        <li>{{player.indexNumber}}</li>
        <li>{{player.name}}</li>
        <li>{{player.dateOfBirth}}</li>
        <li>{{player.year}}</li>
        <li>{{player.facultyName}}</li>
        <li>{{player.departmentName}}</li>
        <li>{{player.address}}</li>
        <li>{{player.bloodType}}</li>
    </ul>
{% endblock %}
