
{# app/Resources/views/player/view.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
Player Details
{% endblock %}

{% block links %}
    <div class="btn-group" >
       <a href="{{url('player_update',{'id':player.id})}}"> <button type="button" class="btn btn-xs btn-warning">Update Player
       </button></a>
    </div>

    <div class="btn-group" >
       <a href="{{url('achievement_create_single',{'p_id':player.id})}}"> <button type="button" class="btn btn-xs btn-info">Add Achievement</button></a>
    </div>
{% endblock %}


{% block body %}

<table style="width:100%">


  <tr>
    <td><b>Index Number:</td>
    <td>{{player.indexNumber}}</td>
  </tr>
  <tr>
    <td><b>Name:</td>
    <td>{{player.name}}</td>
  </tr>
   <tr>
    <td><b>Date of Birth:</td>
    <td>{{player.dateOfBirth | date('Y-m-d') }}</td>
  </tr>
   <tr>
    <td><b>Year:</td>
    <td>{{player.year}}</td>
  </tr>
   <tr>
    <td><b>Faculty:</td>
    <td>{{player.facultyName}}</td>
  </tr>
   <tr>
    <td><b>Department Name:</td>
    <td>{{player.departmentName}}</td>
  </tr>
   <tr>
    <td><b>Address:</td>
    <td>{{player.address}}</td>
  </tr>

   <tr>
    <td><b>Blood Type:</td>
    <td>{{player.bloodType}}</td>
  </tr>

  <tr>
  <td><b>Achievements:</td>
<td>
<ul >
{%for ach in achievements %}
 <li>
 <a href="{{url('achievement_view',{'id':ach.id})}}">{{ ach.title|e }}</a>

 </li>
{% endfor %}
</ul>
</td>
  </tr>






  <tr>
  <td><b>Involved Sports:</td>
<td>
<ul>
{%for sport in sports %}


 <li>

  <a href="{{url('sport_view',{'id':sport.id})}}">{{ sport.name|e }}</a>
 {%if sport.endDate !=null %} <b>(Involvement Finished)</b>{% endif %}

 </li>
{% endfor %}
</ul>
</td>
  </tr>



<tr>
<td><b>Borrowed Equipments</td>
<td>
<ul>
{%for eq in borrowedEquipments %}
 <li>
 <a href="{{url('equipment_view',{'id':eq.id})}}">{{ eq.name|e }}</a>
  {%if eq.returnedTime !=null %} <b>(Equipment Returned)</b>{% endif %}

 </li>
{% endfor %}
</ul>
</td>
</tr>



<tr>
<td><b>Reserved Equipments:</td>
<td>


<ul style="width:100%">
{%for eq in reservedEquipments  %}

 <li>
 <a href="{{url('equipment_view',{'id':eq.id})}}">{{ eq.name|e }}</a>
 </li>

{% endfor %}
</ul>


</td>
</tr>




</table>

{% endblock %}
