
{# app/Resources/views/default/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
Player Details
{% endblock %}


{% block body %}
<table width 100%>

    <!-- Commented out-----------------------------------------------
    <ul>

        <li><h4>Index Number:</h4>{{player.indexNumber}}</li>
        <li><h4>Name:</h4>{{player.name}}</li>
        <li><h4>Date of Birth:</h4>{{player.dateOfBirth}}</li>
        <li><h4>Year:</h4>{{player.year}}</li>
        <li><h4>Faculty Name:</h4>{{player.facultyName}}</li>
        <li><h4>Department Name:</h4>{{player.departmentName}}</li>
        <li><h4>Address:</h4>{{player.address}}</li>
        <li><h4>Blood Type:</h4>{{player.bloodType}}</li>
    </ul>------------------------------------------------------------- -->
<head>
<style>
table, th, td {

    border-collapse: collapse;
}
th, td {
    padding: 0px;
    text-align: left;
}
</style>
</head>
<body>

<table style="width:30%">

  <tr>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><b>Index Number:</td>
    <td>{{player.indexNumber}}</td>
  </tr>
  <tr>
    <td><b>Name:</td>
    <td>{{player.name}}</td>
  </tr>
   <tr>
    <td><b>Date of Birth:</td>
    <td>{{player.dateOfBirth}}</td>
  </tr>
   <tr>
    <td><b>Year:</td>
    <td>{{player.year}}</td>
  </tr>
   <tr>
    <td><b>Faculty:</td>
    <td>{{player.facultyName}}</td>
  </tr>
   <tr>
    <td><b>Department Name:</td>
    <td>{{player.departmentName}}</td>
  </tr>
   <tr>
    <td><b>Address:</td>
    <td>{{player.address}}</td>
  </tr>
   <tr>
    <td><b>Blood Type:</td>
    <td>{{player.bloodType}}</td>
  </tr>
</table>

</body>
</html>

{% endblock %}
