{# app/Resources/views/default/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
All Players
{% endblock %}

{% block links %}
    <div class="btn-group" >
       <a href="{{url('player_create')}}"> <button type="button" class="btn btn-xs btn-success">Create Player</button></a>
    </div>
{% endblock %}


{% block body %}
<ul>
    {% for user in players %}
        <li>
        	<a href="{{url('player_view',{'id':user.id})}}">{{ user.name|e }} - {{ user.year|e }}- {{ user.dateOfBirth|e }}- {{ user.bloodType|e }}- {{ user.address|e }}</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}