
{# app/Resources/views/player/view.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
Player Details
{% endblock %}

{% block links %}
    <div class="btn-group" >
       <a href="{{url('player_update',{'id':player.id})}}"> <button type="button" class="btn btn-xs btn-warning">Update Player
       </button></a>
    </div>

    <div class="btn-group" >
       <a href="{{url('achievement_create_single',{'p_id':player.id})}}"> <button type="button" class="btn btn-xs btn-info">Add Achievement</button></a>
    </div>
{% endblock %}


{% block body %}

<table style="width:100%">

  <tr>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><b>Index Number:</td>
    <td>{{player.indexNumber}}</td>
  </tr>
  <tr>
    <td><b>Name:</td>
    <td>{{player.name}}</td>
  </tr>
   <tr>
    <td><b>Date of Birth:</td>
    <td>{{player.dateOfBirth | date('Y-m-d') }}</td>
  </tr>
   <tr>
    <td><b>Year:</td>
    <td>{{player.year}}</td>
  </tr>
   <tr>
    <td><b>Faculty:</td>
    <td>{{player.facultyName}}</td>
  </tr>
   <tr>
    <td><b>Department Name:</td>
    <td>{{player.departmentName}}</td>
  </tr>
   <tr>
    <td><b>Address:</td>
    <td>{{player.address}}</td>
  </tr>

   <tr>
    <td><b>Blood Type:</td>
    <td>{{player.bloodType}}</td>
  </tr>

  <tr>
  <td><b>Achievements:</td>
{%for ach in achievements %}
 <td>{{ ach.title|e}}</td>
{% endfor %}
  <tr>

  <tr>
    <td><b>Involved Sports:</td>
{%for sport in sports %}
 <td>{{ sport.name|e}}</td>
{% endfor %}
  </tr>


</table>

{% endblock %}
