{# app/Resources/views/resource/view.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
Resource Details
{% endblock %}

{% block body %}

<table width="100%">
	
<!----------------------------------commented out------------------------------------
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Instructor Name</th>
		<th>Location</th>
	</tr>
<ul>

	<tr>
	<td>{{ resource.name|e }}
	</td>

	<td>{{ resource.description|e }}
	</td>
	<td>{{ resource.instructorName|e }}
	</td>

	<td>{{ resource.location|e }}
	</td>
	</tr>


</ul>
----------------------------------------------------------------------------------------->
<head>
<style>
table, th, td {

    border-collapse: collapse;
}
th, td {
    padding: 0px;
    text-align: left;
}
</style>
</head>
<body>

<table style="width:100%">

  <tr>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><b>Name:</td>
    <td>{{resource.name}}</td>
  </tr>
  <tr>
    <td><b>Description:</td>
    <td>{{resource.description}}</td>
  </tr>
   <tr>
    <td><b>Instructor Name:</td>
    <td>{{resource.instructorName}}</td>
  </tr>
   <tr>
    <td><b>Location:</td>
    <td>{{resource.location}}</td>
  </tr>
  
</table>

</body>
</html>
{% endblock %}

