{# app/Resources/views/resource/viewall.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
Resources
{% endblock %}

{% block links %}
    <div class="btn-group" >
       <a href="{{url('resource_create')}}"> <button type="button" class="btn btn-xs btn-success">Create Resource</button></a>
    </div>
{% endblock %}

{% block body %}
<table width="100%">
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Instructor Name</th>
		<th>Location</th>
	</tr>
<ul>
	{% for res in resources %}
	<tr>
	<td>
    <a href="{{url('resource_view',{'id':res.id})}}">{{ res.name|e }}</a>
	</td>

	<td>{{ res.description|e }}
	</td>
	<td>{{ res.instructorName|e }}
	</td>

	<td>{{ res.location|e }}
	</td>
	</tr>

    {% endfor %}
</ul>
{% endblock %}
