
{# app/Resources/views/default/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
Equipment Borrowed Details
{% endblock %}

{% block body %}
<!-------------------------------------comented out------------------------------------
{{equipmentBorrowedByPlayer.equipment_id}}<br>
{{equipmentBorrowedByPlayer.player_id}}<br>
{{equipmentBorrowedByPlayer.amount}}<br>
{{equipmentBorrowedByPlayer.borrowedTime}}<br>
{{equipmentBorrowedByPlayer.dueTime}}<br>
{{equipmentBorrowedByPlayer.returnedTime}}<br>
{{equipmentBorrowedByPlayer.issueDetails}}<br>
-------------------------------------------------------------------------------------->

<head>
<style>
table, th, td {

    border-collapse: collapse;
}
th, td {
    padding: 0px;
    text-align: left;
}
</style>
</head>
<body>

<table style="width:100%">

  <tr>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><b>Equipment ID:</td>
    <td>{{equipmentBorrowedByPlayer.equipment_id}}</td>
  </tr>
  <tr>
    <td><b>Player ID:</td>
    <td>{{equipmentBorrowedByPlayer.player_id}}</td>
  </tr>

    <tr>
    <td><b>Amount:</td>
    <td>{{equipmentBorrowedByPlayer.amount}}</td>
  </tr>

   <tr>
    <td><b>BorrowedTime:</td>
    <td>{{equipmentBorrowedByPlayer.borrowedTime}}</td>
  </tr>
   <tr>
    <td><b>Due Time:</td>
    <td>{{equipmentBorrowedByPlayer.dueTime}}</td>
  </tr>

  <tr>
    <td><b>Returned Time:</td>
    <td>{{equipmentBorrowedByPlayer.returnedTime}}</td>
  </tr>
  
  <tr>
    <td><b>Issue Details:</td>
    <td>{{equipmentBorrowedByPlayer.issueDetails}}</td>
  </tr>
</table>

</body>

{% endblock %}
