
{# app/Resources/views/default/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
Equipment Borrowed Details
{% endblock %}

{% block links %}
    <div class="btn-group" >
       <a href="{{url('equipmentBorrowedByPlayer_return',{'id':equipmentBorrowedByPlayer.id})}}"> <button type="button" class="btn btn-xs btn-primary">Return Equipment
       </button></a>
    </div>
{% endblock %}

{% block body %}
<table style="width:100%">

  <tr>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><b>Equipment ID:</td>
    <td>{{equipmentBorrowedByPlayer.equipment_id}}</td>
  </tr>
  <tr>
    <td><b>Player ID:</td>
    <td>{{equipmentBorrowedByPlayer.player_id}}</td>
  </tr>

    <tr>
    <td><b>Amount:</td>
    <td>{{equipmentBorrowedByPlayer.amount}}</td>
  </tr>

   <tr>
    <td><b>BorrowedTime:</td>
    <td>{{equipmentBorrowedByPlayer.borrowedTime }}</td>
  </tr>
   <tr>
    <td><b>Due Time:</td>
    <td>{{equipmentBorrowedByPlayer.dueTime }}</td>
  </tr>

  <tr>
    <td><b>Returned Time:</td>
    <td>{{equipmentBorrowedByPlayer.returnedTime }} </td>
  </tr>

  <!--
   <tr>
    <td><b>BorrowedTime:</td>
    <td>{{equipmentBorrowedByPlayer.borrowedTime | date('Y-m-d H-i-s')}}</td>
  </tr>
   <tr>
    <td><b>Due Time:</td>
    <td>{{equipmentBorrowedByPlayer.dueTime | date('Y-m-d H-i-s')}}</td>
  </tr>

  <tr>
    <td><b>Returned Time:</td>
    <td>{{equipmentBorrowedByPlayer.returnedTime | date('Y-m-d H-i-s')}} </td>
  </tr>
  -->
  
  <tr>
    <td><b>Issue Details:</td>
    <td>{{equipmentBorrowedByPlayer.issueDetails}}</td>
  </tr>
</table>
{% endblock %}
