{# app/Resources/views/default/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
All Borrowed Equipments
{% endblock %}

{% block links %}
    <div class="btn-group" >
       <a href="{{url('borrow_home')}}"> <button type="button" class="btn btn-xs btn-success">Borrow Equipment</button></a>
    </div>
{% endblock %}

{% block body %}
<!-------------------------------------------commented out--------------------------------------------------------
<ul>
    {% for user in equipmentBorrowedByPlayer %}
        <li>
        	<a href="{{url('equipmentBorrowedByPlayer_view',{'id':user.id})}}">{{ user.equipment_id|e }} - {{ user.borrowedTime|e }}- {{ user.dueTime|e }}- {{ user.returnedTime|e }}- {{ user.issueDetails|e }}</a>
        </li>
    {% endfor %}
</ul>
--------------------------------------------------------------------------------------------------------------------->
<table width="100%">
	<tr>
		<th>Equipment Name</th>
		<th>Player Index Number</th>
		<th>Amount</th>
		<th>Borrowed Time</th>
		<th>Due Time</th>
		<th>Returned Time</th>
		<th>Issue Details</th>
	</tr>
<ul>
	{% for user in equipmentBorrowedByPlayer %}

	<tr>
	<td>
	<a href="{{url('equipmentBorrowedByPlayer_view',{'id':user.id})}}">{{ user.equipmentName|e }}</a>
	</td>


	<td>
    <a href="{{url('player_view',{'id':user.player_id})}}">{{ user.indexNumber|e }}</a>
	</td>

	<td>{{ user.amount|e }}
	</td>

	<td>{{ user.borrowedTime|e }}
	</td>

	<td>{{ user.dueTime|e }}
	</td>

	<td>
		{%if user.returnedTime ==null %}
			<a href="{{url('equipmentBorrowedByPlayer_return',{'id':user.id})}}"> <button type="button" class="btn btn-xs btn-danger">Return</button></a>

		{% else %}
			{{ user.returnedTime|e }}
		{% endif %}
	</td>

	<td>{{ user.issueDetails|e }}
	</td>


	</tr>

<!-------------------------------------------commented out--------------------------------------------------------

    <td>
    <div class="btn-group" >
    <a href="{{url('equipmentBorrowedByPlayer_delete',{'id':user.id})}}"> <button type="button" class="btn btn-xs btn-danger">Delete</button></a>
    </div>
    </td>
--------------------------------------------------------------------------------------------------------------------->

    {% endfor %}
</ul>

{% endblock %}