{# app/Resources/views/default/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
Equipment reserved by Players
{% endblock %}

{% block links %}
    <div class="btn-group" >
       <a href="{{url('reserve_home')}}"> <button type="button" class="btn btn-xs btn-success">Reserve Equipment</button></a>
    </div>
{% endblock %}


{% block body %}
<table width="100%">
	<tr>
		<th>Equipment Name</th>
        <th>Player Name</th>
        <th>Start</th>
		<th>End</th>
		<th>Amount</th>
		<th>Auth. Officer Name</th>
	</tr>

    {% for eq in equips %}
        <tr>
        <td>
        <a href="{{url('reservation_view',{'id':eq.id})}}">{{ eq.eqName|e }}</a>
        </td>
        
        <td>{{ eq.playerName|e}}
        </td>

		<td>{{ eq.start|e }}
        </td>


        <td>{{ eq.end|e }}
        </td>

        <td>{{ eq.amount|e }}
        </td>

        <td>{{ eq.authOfficerName|e }}
        </td>

        <td>
        <div class="btn-group" >
        <a onclick="if(confirm('Are you sure you want to delete?')) window.location.assign('{{url('reservation_delete',{'id':eq.id})}}')"> <button type="button" class="btn btn-xs btn-danger">Delete</button></a>
        </div>
        </td>


    {% endfor %}
</table>

{% endblock %}