{# app/Resources/views/default/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
Player Involvements
{% endblock %}

{% block links %}
    <div class="btn-group" >
       <a href="{{url('involve_home')}}"> <button type="button" class="btn btn-xs btn-success">Involve Player</button></a>
    </div>
{% endblock %}


{% block body %}
<table width="100%">
	<tr>
		<th>Player Name</th>
        <th>Sport Name</th>
        <th>Started Date</th>
        <th>End Date</th>
		<th>Position</th>
	</tr>

    {% for inv in playerInvolvedInSport %}
        <tr>

        <td>{{ inv.playerName|e}}
        </td>

		<td>{{ inv.sportName|e }}
        </td>


        <td>{{ inv.startedDate|e }}
        </td>

        <td>{{ inv.endDate|e }}
        </td>

        <td>{{ inv.position|e }}
        </td>

        {% if inv.endDate == null %}

            <td>
            <div class="btn-group" >
            <a href="{{url('playerInvolvedInSport_delete',{'id':inv.id})}}"> <button type="button" class="btn btn-xs btn-warning">Finish</button></a>
            </div>
            </td>

        {% endif %}
        
    {% endfor %}
</ul>

{% endblock %}